<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginHandler</servlet-name>
        <servlet-class>App.LoginHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterHandler</servlet-name>
        <servlet-class>App.RegisterHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutHandler</servlet-name>
        <servlet-class>App.LogoutHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoHandler</servlet-name>
        <servlet-class>App.InfoHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordHandler</servlet-name>
        <servlet-class>App.PasswordHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginHandler</servlet-name>
        <servlet-class>Admin.LoginHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPasswordHandler</servlet-name>
        <servlet-class>Admin.PasswordHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogoutHandler</servlet-name>
        <servlet-class>Admin.LogoutHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateEmployeeHandler</servlet-name>
        <servlet-class>Admin.CreateEmployeeHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCustomerHandler</servlet-name>
        <servlet-class>Admin.RemoveCustomerHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisabledCustomerHandler</servlet-name>
        <servlet-class>Admin.DisabledCustomerHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnabledCustomerHandler</servlet-name>
        <servlet-class>Admin.EnabledCustomerHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveEmployeeHandler</servlet-name>
        <servlet-class>Admin.RemoveEmployeeHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnabledEmployeeHandler</servlet-name>
        <servlet-class>Admin.EnabledEmployeeHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisabledEmployeeHandler</servlet-name>
        <servlet-class>Admin.DisabledEmployeeHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeLoginHandler</servlet-name>
        <servlet-class>Employee.LoginHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeInfoHandler</servlet-name>
        <servlet-class>Employee.InfoHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeePasswordHandler</servlet-name>
        <servlet-class>Employee.PasswordHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePlaneHandler</servlet-name>
        <servlet-class>Employee.CreatePlaneHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCabinHandler</servlet-name>
        <servlet-class>Employee.CreateCabinHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCabinHandler</servlet-name>
        <servlet-class>Employee.RemoveCabinHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCabinHandler</servlet-name>
        <servlet-class>Employee.UpdateCabinHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTripHandler</servlet-name>
        <servlet-class>Employee.CreateTripHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTripHandler</servlet-name>
        <servlet-class>Employee.UpdateTripHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveTripHandler</servlet-name>
        <servlet-class>Employee.RemoveTripHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateFlightHandler</servlet-name>
        <servlet-class>Employee.CreateFlightHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFlightHandler</servlet-name>
        <servlet-class>Employee.UpdateFlightHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertStewardessHandler</servlet-name>
        <servlet-class>Employee.InsertStewardessHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStewardessHandler</servlet-name>
        <servlet-class>Employee.DeleteStewardessHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCabinByFlight</servlet-name>
        <servlet-class>Employee.GetCabinByFlight</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTicketPriceHandler</servlet-name>
        <servlet-class>Employee.CreateTicketPriceHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTicketPriceHandler</servlet-name>
        <servlet-class>Employee.UpdateTicketPriceHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTicketPriceHandler</servlet-name>
        <servlet-class>Employee.DeleteTicketPriceHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookTicketMemberHandler</servlet-name>
        <servlet-class>Employee.BookTicketMemberHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookTicketNonMemberHandler</servlet-name>
        <servlet-class>Employee.BookTicketNonMemberHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetBookedSeat</servlet-name>
        <servlet-class>Employee.GetBookedSeat</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginHandler</servlet-name>
        <url-pattern>/app/loginhandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterHandler</servlet-name>
        <url-pattern>/app/registerhandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutHandler</servlet-name>
        <url-pattern>/app/logouthandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoHandler</servlet-name>
        <url-pattern>/app/infohandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordHandler</servlet-name>
        <url-pattern>/app/passwordhandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginHandler</servlet-name>
        <url-pattern>/admin/loginhandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPasswordHandler</servlet-name>
        <url-pattern>/admin/passwordhandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogoutHandler</servlet-name>
        <url-pattern>/admin/logouthandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateEmployeeHandler</servlet-name>
        <url-pattern>/admin/employee/createhandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCustomerHandler</servlet-name>
        <url-pattern>/admin/customer/removehandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisabledCustomerHandler</servlet-name>
        <url-pattern>/admin/customer/disablehandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnabledCustomerHandler</servlet-name>
        <url-pattern>/admin/customer/enablehandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveEmployeeHandler</servlet-name>
        <url-pattern>/admin/employee/removehandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnabledEmployeeHandler</servlet-name>
        <url-pattern>/admin/employee/enablehandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisabledEmployeeHandler</servlet-name>
        <url-pattern>/admin/employee/disablehandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeLoginHandler</servlet-name>
        <url-pattern>/employee/loginhandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeInfoHandler</servlet-name>
        <url-pattern>/employee/infohandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeePasswordHandler</servlet-name>
        <url-pattern>/employee/passwordhandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePlaneHandler</servlet-name>
        <url-pattern>/employee/plane/createhandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCabinHandler</servlet-name>
        <url-pattern>/employee/plane/cabin/createhandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCabinHandler</servlet-name>
        <url-pattern>/employee/plane/cabin/removehandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCabinHandler</servlet-name>
        <url-pattern>/employee/plane/cabin/updatehandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTripHandler</servlet-name>
        <url-pattern>/employee/trip/createhandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTripHandler</servlet-name>
        <url-pattern>/employee/trip/updatehandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveTripHandler</servlet-name>
        <url-pattern>/employee/trip/removehandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateFlightHandler</servlet-name>
        <url-pattern>/employee/flight/createhandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFlightHandler</servlet-name>
        <url-pattern>/employee/flight/updatehandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertStewardessHandler</servlet-name>
        <url-pattern>/employee/flight/cabin/stewardess/inserthandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStewardessHandler</servlet-name>
        <url-pattern>/employee/flight/cabin/stewardess/deletehandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCabinByFlight</servlet-name>
        <url-pattern>/ajax/employee/getcabinbyflight</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTicketPriceHandler</servlet-name>
        <url-pattern>/employee/ticket/price/createhandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTicketPriceHandler</servlet-name>
        <url-pattern>/employee/ticket/price/updatehandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTicketPriceHandler</servlet-name>
        <url-pattern>/employee/ticket/price/deletehandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookTicketMemberHandler</servlet-name>
        <url-pattern>/employee/ticket/book/memberhandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookTicketNonMemberHandler</servlet-name>
        <url-pattern>/employee/ticket/book/nonmemberhandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBookedSeat</servlet-name>
        <url-pattern>/employee/getbookedseat</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>Employee.Test</servlet-class>
    </servlet>
</web-app>
