table td {
    height: 48px;
    width: 48px;
    text-align: center;
    border: 1px solid #e0e0e0;
}

td.seat {
    background-color: #eee;
}

.title {
    margin-top: 55px;
    margin-bottom: 32px;
}

.sub-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 2em;
    color: #337AB7;
}

.sub-title span {
    color: #212121;
}

.checked {
    background-color: #096 !important;
    color: #fff;
}

td.seat:hover {
    cursor: pointer;
}

.group-navigator {
    display: flex;
}

.button-back {
    padding-top: 55px;
    margin-right: 16px;
}

.btn-payment {
    margin-top: 8px;
    float: right;
}

.group-info {
    margin-top: 32px;
}

.clear {
    clear: both;
}

.info {
    margin-top: 8px;
}

.info h4 {
    color: #673ab7;
    font-size: 12px;
    font-weight: 400;
}

td.seat.booked {
    color: #fff;
    background-color: #3f51b5;
}