.group-navigator {
    display: flex;
}

.btn-navigate {
    margin-top: 2px;
    margin-right: 16px;
}

.content {
    margin-top: 36px;
}

form {
    width: 275px;
    margin: 72px auto;
}

.btn {
    float: right;
    margin-top: 16px;
    margin-left: 8px;
}

.typeahead.dropdown-menu {
    width: 100%;
}

.cabin-input {
    margin-top: 16px;
}

.cabin-input h4 {
    color: #337AB7;
    font-weight: 400;
    font-size: 16px;
}